.~lock.*

### IntelliJ IDEA ###
.idea/

### Rust ###
target/

### Godot 4+ specific ignores ###
.godot/
exports/linux/data*
exports/linux/Sandium*
exports/linux-server/data*
exports/linux-server/Sandium*
exports/windows/data*
exports/windows/Sandium*